.page-header {
  border-bottom: 1px solid;
}
h1 {
  font-family: Helvetica;
  font-weight:lighter;
}

h2 {
  font-family: Helvetica;
  font-weight:lighter;
}

p {
  font-family: Helvetica;
  font-weight:lighter;
}
