.page-header {
  border-bottom: 1px solid lighter;
}
h1 {
  font-family: Helvetica;
  font-weight:lighter;
}

h2 {
  font-family: Helvetica;
  font-weight:lighter;
}

p {
  font-family: Helvetica;
  font-weight:lighter;
}

form {
  align: center;
  font-family: Helvetica;
  font-weight:lighter;
}
