<div class="page-header" align="center">
<h1>Welcome to Task Manager! <small>Let's do this.</small></h1>
</div>

<div class="container-fluid" align="center">
  <div class ="jumbotron">
  <a href="/tasks"  <button type = 'button' class="btn btn-success">Task Index</a>
  <a href="/tasks/new" <button type = 'button' class="btn btn-primary">New Task</a>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-footer panel-default" align="center">meg's task manager.</div>
</div>
