
<form align="center" action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input style="border: 1px solid; border-radius: 4px;" type='text' name='task[title]'/><br/>
  <textarea style="border: 1px solid; border-radius: 4px;" name='task[description]'></textarea><br/>
  <input type='submit'/>
</form>
